*{
    font-size: 12px;
    outline: none !important;
}

.container {
    width:  800px;
    height: 1000px;
    margin-top: 50px;
}

.profile-ico {
    max-width:  50px;
    max-height: 50px;
    float: left;
}

.point-ico {

    font-size: 20px;
    line-height: 50px;
    text-align: center;

}

.profile-info {
    float: right;
    width: 100px;
}

.progress {

}

.progress-experience {
    min-width: 15%;
}

.progress-energy {
    background-color: #5cb85c;
    min-width: 15%;
}

.navigation {
    text-align: center;
}

.navigation button {
    width: 200px;
}

.navigation .ico {
    font-size: 20px;
}

.friend-container {
    width: 700px;
    display: inline-block;
    float: left;
    overflow: hidden;
}

.friend {
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 120px;
}

.friend * {
    font-size: 16px;
}

.friend .ico {
    max-width: 75px;
    max-height: 75px;
    margin-bottom: 20px;
}

.friend-row {
    height: 120px;
    width: 1000px;
    overflow: hidden;
}

.slide-navigation {
    width: 25px; height: 100px;float: left; background-color: gray;
}

#painter {
    height: 98%;
    padding: 0 10px 0 10px;
}

.main-block {
    height: 100%;
    padding: 0 10px 0 10px;
}

.main-block-album {
    height: 100%;
    padding: 0 10px 0 10px;
    overflow-y: scroll;
}

#workspace {
    float: left;
    height: 100%;
    width: 70%;
    border: 1px solid darkgray;
}

#c {
    height: 100%;
    width: 98%;
}

.toolbar {
    text-align: center;
    float: left;
    height: 100%;
    width: 29%;
    margin-left: 7px;
}

.pic-block {
    width: 150px;
    height: 130px;
    float: left;
    text-align: center;
}

.start-game-btn {
    height: 80px;
    width: 200px;
    font-size: 20px;
    margin-top: 100px;
}

.spinner {
    display: inline-block;
    opacity: 0;
    width: 0;

    -webkit-transition: opacity 0.25s, width 0.25s;
    -moz-transition: opacity 0.25s, width 0.25s;
    -o-transition: opacity 0.25s, width 0.25s;
    transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

