<div class="main-block-album">
    <h4>Вас нарисовали</h4>
    <div class="pic-block" ng-repeat="picture in pictures">
        <img src="/img/{{picture.link}}" height="110px" width="110px"><br>Рисунок
    </div>
</div>