<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js"></script>
    <script src="https://code.angularjs.org/1.2.4/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="/vk/assets/js/restangular.min.js"></script>
    <script src="/vk/app/components/home/home.js"></script>
    <script src="//vk.com/js/api/xd_connection.js?2"  type="text/javascript"></script>
    <script type="text/javascript" src="/vk/assets/js/simple/fabric.min.js" ></script>
    <link rel="stylesheet" href="/vk/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/vk/assets/css/main.css"/>
    <script src="/vk/assets/js/ui/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vk/assets/css/main.css"/>
</head>
<body>
<div ng-app="painter" class="container" ng-controller="MainCtrl">
    <div class="row">
        <div class="col-xs-3" ng-repeat="user in users | filter:search | orderBy:'id'">
            <img src="{{user.photo_50}}" class="profile-ico" alt=""/>
            <div class="profile-info">{{user.first_name}}</div>
            <div class="profile-info">{{user.last_name}}</div>
        </div>

        <div class="col-xs-2">
            <div>Status</div>
            <div>Сальвадор Дали</div>
        </div>

        <div class="col-xs-3">
            <div>опыт</div>
            <div class="progress">
                <div class="progress-bar progress-experience" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                    0%
                </div>
            </div>
        </div>

        <div class="col-xs-3">
            <div>энергия</div>
            <div class="progress">
                <div class="progress-bar progress-energy" role="progressbar" aria-valuenow="{{currentUser.energy}}" aria-valuemin="0" aria-valuemax="30" style="width: {{currentUser.energyWidth}}%">
                    {{currentUser.energy}} / 30
                </div>
            </div>
        </div>

        <div class="col-xs-1">
            <span class="glyphicon glyphicon-star point-ico" aria-hidden="true" style="color: #ffb100">{{currentUser.gold}}</span>
        </div>
    </div>
    <div ng-if="currentUser.notifications"><span style="color: #ff0600">У вас есть непросмотренные рисунки! Кол-во: {{currentUser.notifications.length}}</span></div>

    <hr/>

    <div class="row">
        <div style="height: 400px" ng-view></div>
    </div>

    <div class="row">
        <div class="col-xs-4 navigation">
            <a href="#start"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-pencil ico" aria-hidden="true"></span> нарисовать</button></a>
        </div>
        <div class="col-xs-4 navigation">
            <a href="#album"><button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-th ico" aria-hidden="true"></span> галерея</button></a>
        </div>
        <div class="col-xs-4 navigation">
            <button class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-shopping-cart ico" aria-hidden="true"></span> магазин</button>
        </div>
    </div>

    <hr/>

    <div id="preview-friend" class="slide-navigation"></div>

    <div class="friend-container">
        <div class="friend-row">
            <div class="col-xs-2 friend" ng-repeat="friend in friends | filter:search">
                <img src="{{friend.photo_50}}" class="ico" alt=""/>
                <div class="first-name">{{friend.first_name}}</div>
                <div class="last-name">{{friend.last_name}}</div>
            </div>
        </div>
    </div>

    <div id="next-friend" class="slide-navigation"></div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
                </div>
                <div ng-bind-html ="modal.body" class="modal-body">
                    <!--{{modal.body}}-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vk/assets/js/ui/friend-slide.js"></script>
</body>
</html>