<div class="main-block">
    <h4>Альбом</h4>
    <div class="pic-block" ng-repeat="picture in mypictures">
        <img src="/img/{{picture.link}}" height="150px" width="150px"><br>Рисунок
    </div>
</div>