<div id="painter">
    <div id="workspace">
        <canvas id="c"></canvas>
    </div>
    <div class="toolbar">
        <label for="line-width">Ширина линии:</label>
        <span class="info"></span>
        <input type="range" value="30" maxlength="150" id="line-width">
        <label for="line-color">Цвет линии:</label>
        <input id="line-color" type="color">
        <input type="button" class="btn btn-primary" value="Отменить" id="cancel-draw">
        <input type="button" class="btn btn-primary" value="Очистить" id="clear-draw">
        <input type="button" class="btn btn-success" value="Загрузить" id="upload-image" data-toggle="modal" data-target="#myModal">
        <h3>Натура:</h3>
        <a id="open-target-photo"><img src="{{target.user.photo_200}}" width="200px" height="200px" style="margin-top: 5px; cursor: pointer"></a>
    </div>
</div>