<div class="main-block" style="text-align: center">
    <button class="btn btn-lg btn-primary has-spinner start-game-btn" id="start-game">
        <span class="spinner"><i class="glyphicon glyphicon-spin glyphicon-refresh ico"></i></span>
        Начать игру!
    </button>
</div>